 Hello {{body.name}},
<br> You are now an Admin of Steward.<br>
    your username and password are<br>
    username : {{body.userName}}<br>
    password : {{body.password}}<br>
<br> Click on the link to login and change password 
<br>
<a href={{body.loginLink}}>{{body.loginLink}}</a>
<br> Thanks